@import '../../../style/utils/variables.scss';

.card {
    
    background-color: white;
    margin: auto;
    width: 38%;
    border-radius: 20px;
    padding: 10px 0;
    margin-top: 17px;
    
    

    &-content{
        
        margin: auto;
        padding: 15px;

        &--message{
            font-size: 20px;
        }

        &--header{
            margin-bottom: 40px;

            &-author{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &--image{
            width: 100%;
            object-fit: cover;
            
            
            
        }

        &--indicators{
            display: flex;
            margin-top: 10px;

            &-elt{
                margin-right: 20px;
            }
        }
    }

    &-comments{

        margin-top: 30px;

        &--onclick{
            cursor: pointer;
            text-decoration: underline;

            &:hover{
                color: #FD2D01;
            }
        }
    }
}

.icon{
    cursor: pointer;
    font-size: x-large;
}

.heart-filled{
    background: linear-gradient(to bottom, $color-primary, $color-secondary); 
    background-clip: content-box;
       
        
}