@import '../../../style/utils/variables.scss';
@import '../../../style/utils/mixins.scss';


.addpost {
    display: flex;
    flex-direction: column;

}

form {
    
    width: 95%;
    margin: auto;

    .message-field {
        width: 99%;
        background-color: $light-grey;
        border-radius: 20px;
        border: none;
        outline: none;
        text-align: left;
        padding-top: 5px;
        margin: 15px 0;
        font-family: 'Lato', sans-serif;
        resize: none;

    }

    .errormsg{
        color: $color-primary;
    }

    .btn {
        @include btn;
    }
}


.file {
    &-add {
        display: none;
    }

    &-upload {

        cursor: pointer;

        &-icon {
            font-size: 20px;
            margin-left: 10px;
            color: $color-tertiary;
        }


    }

    &-remove {
        display: flex;
        align-items: center;

        &--icon {
            cursor: pointer;
            font-size: 12px;
            margin-left: 8px;
        }
    }
}