@import '../../../style/utils/variables.scss';
@import '../../../style/utils/mixins.scss';


.addpost{
    display: flex;
    flex-direction: column;
    
}

form{
    margin: auto;
    width: 95%;
}

.message-field{
    width: 95%;
    background-color: $light-grey;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 20px 5px;
    margin: 15px 0 ;  
    font-size: 16px; 
    font-family: 'Lato', sans-serif;
    height: fit-content;


}

.btn{
    @include btn;
}

.addFile{
    display: none;
}

.file{
    &-upload{
    
    cursor: pointer;
    &-icon{
        font-size: 20px;
        margin-left: 10px;       
        color: $color-tertiary;
    }

    
}
&-remove{
        display: flex;
        align-items: center;
        &--icon{
            cursor: pointer;
            font-size: 12px;            
            margin-left: 8px;
        }
    }
}