@import "../../style/utils/mixins.scss";

@import "../../style/utils/variables.scss";

.signup {
    &-error-msg {
        text-align: center;
        color: $color-primary;
    }

    &-confirm{
        text-align: center;
    }
    #signup-form {
        @include flex-column-center;
    }

    .form-input {
        margin-bottom: 15px;
    }
}
