@import '../../style/utils/variables.scss';


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    border-bottom: solid 1px $color-primary;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;



    &--logo {
        @media screen and (min-width: 992px) {
            width: 25%;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 40%;
        }

        @media screen and (max-width : 768px) {
            width: 66%;
        }


        img {
            object-fit: cover;
            height: 70px;
            width: 100%;
        }
    }

    &-profil {
        margin-right: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-direction: column;

            p {
                display: none;
            }
        }



    }

    &-logout {
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        margin-left: 50px;

        &:hover {
            color: $color-primary;
        }

        &--icon {
            margin-right: 10px;
        }
    }
}