@import '../../style/utils/variables.scss';


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    border-bottom: solid 1px $color-primary;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    
    

    &--logo{
        width: 310px;
        height: 70px;
        object-fit: cover;
    }
    
    &-profil{
        margin-right: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;

        
        
    }

    &-logout{
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        margin-left: 50px;

        &:hover{
            color: $color-primary;
        }

        &--icon{
            margin-right: 10px;
        }
    }
}