@import "../../style/utils/variables.scss";

<<<<<<< HEAD
=======

>>>>>>> 562c443044e85c54030a86ca6ce6cae9af297609
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Lato", sans-serif;
    background-color: white;
    border-bottom: solid 1px $color-primary;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;

<<<<<<< HEAD
=======


>>>>>>> 562c443044e85c54030a86ca6ce6cae9af297609
    &--logo {
        @media screen and (min-width: 992px) {
            width: 25%;
        }

        @media screen and (min-width: 768px) and (max-width: 992px) {
            width: 40%;
        }

<<<<<<< HEAD
        @media screen and (max-width: 768px) {
            width: 66%;
        }

=======
        @media screen and (max-width : 768px) {
            width: 66%;
        }


>>>>>>> 562c443044e85c54030a86ca6ce6cae9af297609
        img {
            object-fit: cover;
            height: 70px;
            width: 100%;
        }
    }

    &-profil {
<<<<<<< HEAD
        position: absolute;
        right: 250px;
        font-size: 20px;
        display: flex;
        align-items: center;
=======
        margin-right: 50px;
        font-size: 20px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-direction: column;

            p {
                display: none;
            }
        }



>>>>>>> 562c443044e85c54030a86ca6ce6cae9af297609
    }

    &-logout {
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        margin-right: 40px;

<<<<<<< HEAD
=======
        &:hover {
            color: $color-primary;
        }

>>>>>>> 562c443044e85c54030a86ca6ce6cae9af297609
        &--icon {
            margin-right: 10px;

            &:hover {
                color: $color-primary;
            }
        }
    }
}
